*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}
nav,header,footer{
  display: block;
}
body{
  background-color: #eee;
  margin: 0;
   /* line-height: 1opx;  */
}
nav{
  width: 100%;
  margin: 0;
}

nav ul{
  overflow: hidden;
  margin: 0;
  padding: 0;
}
nav li{
list-style: none;
float: left;
}
nav li.top-right{
float: right;
}
ul li a{
  display: block;
  text-decoration: none;
  min-height: 20px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #666;
  background: #222;

}
ul li a:hover{
  background: #494eea;
  color: #fff;
}

.container{
  /* width: 400px; 
  padding: 25px 35px;
  position: relative;
   top: 100%; 
   left: 50%; 
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px; */
  display: block;
  margin-left: 40%;
  max-width: fit-content;


}
.container{
  font-weight: 200px;
  font-size: 15px;
  margin-bottom: 2px;

}
.container input{
  width: 100%;
  height: 50px;
  border: 1px solid #494eea;
  outline: 0;
  padding: 10px;
  margin: 10px 0 20px;
  border-radius: 5px;


}
.container button{
  width: 100%;
  height: 50px;
  background: #494eea;
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 20px 0;
  font-weight: 500;
  
}
#imgBox{
  width: 150px;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
 
}
#imgBox img{
  width: 100%;
  padding: 10px;
  
 
}
#imgBox.show-img{
  max-height: 350px;
  margin: 10px auto;
  border: 1px solid #d1d1d1;

}
button{
  background-color: #494eea;
  color: white;
  border: none;
  width: 8%;
  border-radius: 5px;
  margin-left: 8px;
}
/* .about {
justify-content: center;
float: right;
display: block;
width: 100%;
} */
 ul.down{
  margin: 0;
  width: 100%;
 }
ul.down li{
  float: left;
  list-style: none;
}
ul.down li a{
max-width: 100%;
text-align: center;
width: 100%;
display: block;
}


.error{
  animation: shake 0.1s linear 10;
}
@keyframes shake {
  0%{
    transform: translateY(0);
  }

  25%{
    transform: translateX(-2px);
  }
  50%{
    transform: translateX(0);
  }
  75%{
    transform: translateX(2px);
  }
  100%{
    transform: translateX(0);
  }

  
}